@using UrunKMVCWebUI.Models
@model UrunKMVCWebUI.Models.Cart


<style>

    #cart{
        color:white;
        text-decoration:none;
    }

</style>

<ul class="navbar-nav my-2 my-lg-0">


<<<<<<< HEAD
    <li  class="nav-item">
=======
    <li class="nav-item">
>>>>>>> 19d6c36 (Project Updated v3.0)
        <a href="/Cart/Index" id="cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.CartLines.Count)
        </a>
    </li>
<<<<<<< HEAD

=======
>>>>>>> 19d6c36 (Project Updated v3.0)
</ul>