#jumbotron{
    background-image: url(../image/home-bg.jpg);
    background-size: cover;
    height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }


.card-title {
    font-size: 16px;
    font-weight: 400;
    color: #484848;
    line-height: 1.35em;
    height: 34px;
}

.description {
    font-size: 14px;
    height: 50px;
}


.product-price{
    color:#414141;
    font-weight:700;
    font-size:17px;
}

#product-details h1{
    font-size:20px;
    font-weight:700;
}

#write-review {
    margin-left: -30px;
}

#product-price{
    font-size: 28px;
    color: green;

}